In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk

In [7]:
from nltk.corpus import stopwords

In [2]:
df = pd.read_csv("dataset.csv")

In [3]:
df.shape

(22000, 2)

In [4]:
df.isnull().sum()

Text        0
language    0
dtype: int64

In [5]:
df.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [12]:
all_languages=list(df["language"].value_counts().index)

In [20]:
stopwords.words("dutch")

['de',
 'en',
 'van',
 'ik',
 'te',
 'dat',
 'die',
 'in',
 'een',
 'hij',
 'het',
 'niet',
 'zijn',
 'is',
 'was',
 'op',
 'aan',
 'met',
 'als',
 'voor',
 'had',
 'er',
 'maar',
 'om',
 'hem',
 'dan',
 'zou',
 'of',
 'wat',
 'mijn',
 'men',
 'dit',
 'zo',
 'door',
 'over',
 'ze',
 'zich',
 'bij',
 'ook',
 'tot',
 'je',
 'mij',
 'uit',
 'der',
 'daar',
 'haar',
 'naar',
 'heb',
 'hoe',
 'heeft',
 'hebben',
 'deze',
 'u',
 'want',
 'nog',
 'zal',
 'me',
 'zij',
 'nu',
 'ge',
 'geen',
 'omdat',
 'iets',
 'worden',
 'toch',
 'al',
 'waren',
 'veel',
 'meer',
 'doen',
 'toen',
 'moet',
 'ben',
 'zonder',
 'kan',
 'hun',
 'dus',
 'alles',
 'onder',
 'ja',
 'eens',
 'hier',
 'wie',
 'werd',
 'altijd',
 'doch',
 'wordt',
 'wezen',
 'kunnen',
 'ons',
 'zelf',
 'tegen',
 'na',
 'reeds',
 'wil',
 'kon',
 'niets',
 'uw',
 'iemand',
 'geweest',
 'andere']

In [25]:
stop_words=[]



for i in all_languages:
    try:
        stop_words+=stopwords.words(i.lower())
    except:
        pass

In [27]:
len(stop_words)

3777

In [30]:
import string

def conversion(text):
    text=text.lower()
    text=text.strip().split(" ")
    text=[i for i in text if i not in stop_words and i not in string.punctuation]
    
    
    return " ".join(text)

In [31]:
df["Text"]=df["Text"].apply(conversion)

In [33]:
df["Text"]

0        klement gottwaldi surnukeha palsameeriti ning ...
1        sebes joseph pereira thomas eng jesuits sino-r...
2        ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...
3        விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...
4        spons behoort geslacht haliclona behoort famil...
                               ...
21995    hors terrain années années crise championnat t...
21996    ใน พศ หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเด...
21997    motivo celebración septuagésimoquinto ° aniver...
21998    年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby like》，由美國...
21999    aprilie sonda spațială messenger nasa și-a înc...
Name: Text, Length: 22000, dtype: object

In [43]:
x=df["Text"].values
y=df["language"].values

In [44]:
y

array(['Estonian', 'Swedish', 'Thai', ..., 'Spanish', 'Chinese',
       'Romanian'], dtype=object)

In [45]:
from sklearn.model_selection import train_test_split
x_tarin, x_test, y_train , y_test=train_test_split(x, y, test_size=0.2, random_state=0)